{% extends "plain.html" %}
{% block pageContentNoFormat %}
<h3>Activation key request</h3>
<p>
  An activation key was sent when you registered for an account.
</p>
<p>
  If that key expired or was lost, you can request a new key here.
</p>
<form action="/activationrequest/" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Send a new activation key" class="btn btn-large btn-inverse" />
</form>
<p>
  Please check your spam filter if you do not receive an activation key after submitting this request.
</p>
{% endblock %}
