{% extends "plain.html" %}
{% block pageContentNoFormat %}
<h3>Account activation</h3>
{% if has_key %}
<form action="/confirm/" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Click to activate account" class="btn btn-large btn-inverse" />
</form>
{% else %}
<p>
You should receive an activation key by email shortly after registering. Please check your spam filter if you did not receive an email.
</p>
{% endif %}
<p>
Do you need us to send another activation key? <a href="/activationrequest/">Click here</a>.
</p>
{% endblock %}
