{% extends "plain.html" %}
{% block pageContentNoFormat %}
<h3>Register</h3>
<div class="row">
  <div class="span10">
    <p>
      Already registered? <a href="/login/">Login here</a>.
    </p>
    <form action="/register/" method="post" enctype="multipart/form-data">{% csrf_token %}
      <table class="tbl-left">
	{{ form.as_table }}
	<tr>
	  <th></th>
	  <td>
	    <input type="submit" value="Register" class="btn btn-large btn-inverse" />
	  </td>
	</tr>
      </table>
    </form>
  </div>
</div>
{% endblock %}

