{% extends "plain.html" %}
{% block pageContentNoFormat %}
<h3>About Science Writing Experts</h3>
<div class="row">
<div class="span5">
<h4>Our mission</h4>
<p>Scientific progress is a worldwide endeavor shared by all people and all nations. We believe that language should never restrict scientific dialog or prevent ideas from reaching an audience throughout the world.</p> 
<p>Our mission is to remove language barriers for researchers so that today's greatest ideas in science can be heard by everyone in the global community.</p>
</div>
<div class="span5">
<h4>Who we are</h4>
<p>Science Writing Experts is headquartered in San Francisco. We were founded by a PhD graduate from MIT with a passion for science and language.</p>
<p>Our editors are fluent English speakers who are engaged in graduate research or have completed graduate degrees at top universities.</p>
<p>If you have any questions, we welcome you to <a href="/contact/">contact us</a>.</p>

<br>
<div class="center">
<form action="/service/" method="link" class="learn-more">
  <input type="submit" value="Learn more" class="btn btn-large" class="learn-more">
</form>
<form action="/order/" method="link" class="try-it">
  <input type="submit" value="Place an Order" class="btn btn-large btn-warning" class="try-it">
</form>
</div>
</div>
</div>
{% endblock %}
