{% extends "plain.html" %}
{% block pageContentNoFormat %}
<h3>
Careers at Science Writing Experts
</h3>
<p>
  We are seeking Editors and Managing Editors with a passion for promoting open communication in science through removing language barriers. 
</p>
<p>
 Applicants should be native English speakers with excellent language skills and meticulous attention to detail, and must have completed or be enrolled in graduate programs in a science field. 
</p>
<p>
  Telecommuting and part-time positions with flexible hours are available.
</p>
<p>
To apply, please send your resume or CV to
<a href="mailto:careers@sciencewritingexperts.com">
  careers@sciencewritingexperts.com
</a>
</p>
{% endblock %}
