{% extends "plain.html" %}
{% block title %}Service - Professional English editing for technical writing{% endblock %}
{% block pageContentNoFormat %}

<div class="row">
<div class="span10">
<h3>Our services</h3>
</div>
</div>

<div class="row">
<div class="span5">

<h4>English editing</h4>
<p>At Science Writing Experts we specialize in English language editing services for technical and scientific writing. We make language corrections including spelling, grammar, punctuation, sentence structure, and language flow.</p>
<p>We help you to express technical ideas clearly and accurately in clean, natural English. We can prepare your manuscript for publication in high-impact journals and help you to avoid delays in publication.</p>

<h4>Follow-up editing</h4>
<p>If you use our language editing service and then make further edits based on reviewer feedback, we provide a repeat editing service at 50% of the normal price. You may repeat this process as many times as you need at the discounted rate. This can provide a significant cost savings over other services that charge at or near full price for follow-up editing.</p>

</div>

<div class="span5">

<h4>Free trial service</h4>
<p>If you wish to try our service at no cost, you may request a free trial. We will provide full editing services for the first 250 words of your manuscript free of charge.</p>

<h4>Our guarantee</h4>
<p>We guarantee the quality of our work. If you submit an article for publication after Science Writing Experts has edited the article, and if a publisher declines to print the article for reasons of language quality, provided that no further edits were made after receiving our editing service, we will provide a full refund.</p>

<h4>Limitations</h4>
<p>While the editors at Science Writing Experts guarantee the quality of our language editing service, the author is responsible for correcting any errors in technical content. We do not check bibliographies or references, therefore we do not include references in the word count when calculating the service cost.</p>

<br>
<div class="center">
<form action="/prices/" method="link" class="learn-more">
  <input type="submit" value="Learn about prices" class="btn-large" class="learn-more">
</form>
<form action="/order/" method="link" class="try-it">
  <input type="submit" value="Place an Order" class="btn-large btn-warning" class="try-it">
</form>
</div>

</div>
</div>
 

{% endblock %}
