body {
    font-family: Arial, Helvetica, sans-serif;
}

/******** User feedback messages ********/
.messages {
    font-size: 1.00em;
    margin: -10px 0 16px 0;
}

.messages ul {
    list-style: none;
    margin: 10px 0;
    padding-left: 0;
}

.messages ul li {
    padding: 0.1em;
}

.messages a {
    color: #005580;
}
.messages a:hover {
    color: #0072a0;
}

.info,
.success,
.warning,
.error,
.validation {
    border: 2px solid;
    margin: 10px 0px;
    padding:0 0 0 41px;
    background-repeat: no-repeat;
    background-position: 5px center;
}

.info {
    color: #020233;
    border-color: #37BAF8;
    border-style: solid;
    border-width: 4px;
    border-radius: 5px;
}

.success {
    color: #060b04;
    border-color: #5bbc35;
    border-style: solid;
    border-width: 4px;
    border-radius: 5px;
}

.warning {
    color: #202020;
    border-color: #FAAE43;
    border-style: solid;
    border-width: 4px;
    border-radius: 5px;
}

.error {
    color: #110404;
    border-color: #c93939;
    border-style: solid;
    border-width: 4px;
    border-radius: 5px;
}
/******** /User feedback messages ********/