body {
    font-family: Arial, Helvetica, sans-serif;
}

/******** User feedback messages ********/
.messages {
    font-size: 1.00em;
    margin: -10px 0 16px 0;
}

.messages ul {
    list-style: none;
    margin: 10px 0;
    padding-left: 0;
}

.messages ul li {
    padding: 0.1em;
}

.messages a {
    color: #005580;
}
.messages a:hover {
    color: #0072a0;
}

.info,
.success,
.warning,
.error,
.validation {
    border: 2px solid;
    margin: 10px 0px;
    padding:0 0 0 41px;
    background-repeat: no-repeat;
    background-position: 5px center;
}

.info {
    color: #020233;
    border-color: #0072a0;
    background-color: #37BAF8;
    background-image: url('../img/info.png');
}

.success {
    color: #060b04;
    border-color: #427c2c;
    background-color: #5bbc35;
    background-image: url('../img/success.png');
}

.warning {
    color: #202020;
    border-color: #F89406;
    background-color: #FAAE43;
    background-image: url('../img/warning.png');
}

.error {
    color: #110404;
    border-color: #bd0c10; 
    background-color: #c93939;
    background-image: url('../img/error.png');
}
/******** /User feedback messages ********/