{% load i18n %}
<!DOCTYPE html>
<html>
<head>
<meta name="description" content="An English editing service for scientific, medical, and technical writing, for publications, research, thesis manuscripts, journal articles, and grant applications." />
<title>{% block title %}Science Writing Experts - professional English editing for scientific and technical writing{% endblock title %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta property="fb:admins" content="502311916456339" />
<link rel="shortcut icon" href="{{STATIC_URL}}favicon.ico" type="image/x-icon">
<link rel="icon" href="{{STATIC_URL}}favicon.ico" type="image/x-icon">
<link href="{{STATIC_URL}}css/base.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/messages.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen">
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/media/css/ie.css" /><![endif]-->
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="background">
  <div class="canvas container">
    <div class="row">
      <div class="header span12">
	<img src="{{STATIC_URL}}img/banner.jpg" class="banner" height=125 width=940></img>
	<div class="row">
	  <div class="span12 header-border black-shadow"></div>
	</div>
	<div class="header-menu-tab black-shadow offset9">
	  <ul>
	    {% if user.is_authenticated %}
            <li><a href='/account/'>Account</a></li>
            <li>
              <form id="logoutform" method="post" action="/logout/">{% csrf_token %}
		<input type='submit' class='linkbutton' value='{% trans "Logout" %}'/>
              </form>
            </li>
	    {% else %}
            <li><a href='/register/'>{% trans "Sign up" %}</a></li>
            <li><a href='/login/'>{% trans "Login" %}</a></li>
	    {% endif %}
	  </ul>
	</div>
	<div class="header-left span6">
	  <a href="/home/" class="logo">
            <img src="{{STATIC_URL}}img/logo.png" alt="SWE Logo" class="logo" height=60 width=60></img>
	  </a>
	  <a href="/home/">
	    <img src="{{STATIC_URL}}img/namelogo.png?v=2" alt="Science Writing Experts" class="name" height=32 width=287></img>
	  </a>
	</div>
	<div class="header-right span4">
          <div class="tagline">
	    {% trans "Professional editing services<br>	by experienced researchers<br> fluent in American English" %}
          </div>
	</div>
      </div>
    </div> <!--end Header-->
    
    <div class="row">
      <div class="menu-bar shadow span12">
	{% include 'menu_default.html' %}
      </div>
      
      <div class="frame span12">
	<div class="row">
	  <div class="page span12 shadow">
	    <div class="row">
	      <div class="span10 offset1 messages">
		{% load messages %}
		{% render_messages messages %}
	      </div>
	    </div>

	    {% block pageContent %}
	    Welcome.
	    {% endblock %}

	    <div class="row">
	      <div class="span2 offset9">
		<br/>
		<!-- AddThis Follow BEGIN -->
		<div class="addthis_toolbox addthis_default_style">
		  <a class="addthis_button_facebook_follow" addthis:userid="ScienceWritingExperts"></a>
		  <a class="addthis_button_twitter_follow" addthis:userid="SciWritingXpert"></a>
		  <a class="addthis_button_google_follow" addthis:userid="105558689364990785165"></a>
		  <a class="addthis_button_linkedin_follow" addthis:usertype="company" addthis:userid="2863454" href="http://www.linkedin.com/company/2863454" target="_blank" title="Follow on Linkedin"></a>
		</div>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50db70bd4a759163"></script>
		<!-- AddThis Follow END -->
	      </div>
	    </div>
	    
	  </div> <!--end page-->
	</div>
	<div class="footer">
	  <ul>
            <li><a href="/terms/">Terms of service</a></li>
            <li><a href="/privacy/">Privacy</a></li>
            <li><a href="/contact/">Contact us</a></li>
            <li><a href="/careers/">Careers</a></li>
            <li>{% trans "Copyright" %} &copy {% now "Y" %} Science Writing Experts</li>
	  </ul>
	</div><!--end footer-->
      </div><!--end frame-->
    </div><!--end row-->
  </div><!--end canvas-->
</div><!--end background-->
<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ google_tracking_id }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
