<!DOCTYPE html>
<html>
<head>
<title>{% block title %}Science Writing Experts{% endblock title %}</title>
<link rel="shortcut icon" href="{{STATIC_URL}}favicon.ico" type="image/x-icon">
<link rel="icon" href="{{STATIC_URL}}favicon.ico" type="image/x-icon">
<link href="{{STATIC_URL}}css/base.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen">
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/media/css/ie.css" /><![endif]-->
</head>
<body>
<div class="background">
  <div class="canvas container">
    <div class="row">
      <div class="header span12">
	<div class="row">
	  <div class="span12 header-border black-shadow"></div>
	</div>
	<div class="header-menu-tab black-shadow offset9">
	  <ul>
	    {% if is_authenticated %}
            <li><a href='/account/'>Account</a></li>
            <li>
              <form id="logoutform" method="post" action="/logout/">{% csrf_token %}
		<input type='submit' class='linkbutton' value='Logout'/>
              </form>
            </li>
	    {% else %}
            <li><a href='/register/'>Sign up</a></li>
            <li><a href='/login/'>Login</a></li>
	    {% endif %}
	  </ul>
	</div>
	<div class="header-left span6">
	  <a href="/home/" class="logo">
            <img src="{{STATIC_URL}}img/logo.png" alt="SWE Logo" class="logo" height=60 width=60></img>
	  </a>
          <span class="name">
	    <span class="initial">S</span>cience
	    <span class="initial">W</span>riting 
	    <span class="initial">E</span>xperts
	  </span>
	</div>
	<div class="header-right span4">
          <div class="tagline">
	    Professional editing services<br>
	    by experienced researchers<br>
	    fluent in American English
          </div>
	</div>
      </div>
    </div> <!--end Header-->
    
    <div class="row">
      <div class="menu-bar shadow span12">
	{% if is_editor %}
	{% include 'menu_editor.html' %}
	{% else %}
	{% include 'menu_default.html' %}
	{% endif %}
      </div>
      
      <div class="frame span12">
	<div class="row">
	  <div class="page span12 shadow">
	    {% if messages %}
	    <div class="row">
	      <div class="span10 offset1 messages">
		<ul class="messages">
		  {% for message in messages %}
		  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		  {% endfor %}
		</ul>
	      </div>
	    </div>
	    {% endif %}
	    {% block pageContent %}
	    Welcome.
	    {% endblock %}
	  </div> <!--end page-->
	</div>
	<div class="footer">
	  <ul>
            <li><a href="/terms/">Terms of use</a></li>
            <li><a href="/privacy/">Privacy</a></li>
            <li><a href="/contact/">Contact us</a></li>
            <li><a href="/careers/">Careers</a></li>
            <li>Copyright &copy 2012 Science Writing Experts</li>
	  </ul>
	</div><!--end footer-->
      </div><!--end frame-->
    </div><!--end row-->
  </div><!--end canvas-->
</div><!--end background-->
<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
</body>
</html>
