{% extends "plain.html" %}
{% block pageContentNoFormat %}
<h4><span class="inactivecrumb"><a href="/order/1/">Upload manuscript</a> — <a href="/order/2/">Order details</a> — <a href="/order/3/">Select service</a> — <span class="activecrumb">Submit order</span></span></h4>
<p class="right">
  Invoice # {{ invoice.invoice_id }}
</p>
<table class="table">
  <tr class="table-header">
    <td>Description</td>
    <td>Amount</td>
  </tr>
  {% for row in invoice.rows %}
  <tr>
    <td>{{ row.description }}</td>
    <td>{{ row.amount}}</td>
  </tr>
  {% endfor %}
  <tr>
    <td></td>
    <td><br/><br/></td>
  </tr>
  <tr>      
    <td class="right">
      Subtotal:
    </td>
    <td>
      {{ invoice.subtotal}}
    </td>
  </tr>
  <tr>
    <td class="right">
      Tax:
    </td>
    <td>
      {{ invoice.tax}}
    </td>
  </tr>
  <tr class="bold">
    <td class="right">
      Total due:
    </td>
    <td>
      ${{ invoice.amount_due}} USD
    </td>
  </tr>
</table>

{% if show_discounts %}
<div class="row">
  <div class="span4 offset6">
    <h5>Promotional discounts</h5>
    <span class="subtle">max 1 per order</span>

    <table>
      {% for row in dropforms %}
      <tr>
	<form action="/order/4/" method="post">{% csrf_token %}
	  <td>
	    {{ row.label }}{% for field in row.form %}{{field}}{% endfor %}
	  </td>
	  <td>
	    <input type="submit" name="remove" value="Remove" class="btn btn-small">
	  </td>
	</form>
      </tr>
      {% endfor %}

      {% if selectdiscountform %}
      <tr>
	<form action="/order/4/" method="post">{% csrf_token %}
	  <td>
	    {% for field in selectdiscountform %}{{field}}{% endfor %}
	  </td>
	  <td>
	    <input type="submit" name="select" value="Apply" class="btn btn-small">
	  </td>
	</form>
      </tr>
      {% endif %}
      <tr>
	<form action="/order/4/" method="post">{% csrf_token %}
	  <td>
	    {% for field in claimdiscountform %}{{field.errors}}{{field}}{% endfor %}
	  </td>
	  <td>
	    <input type="submit" name="claim" value="Apply" class="btn btn-small">
	  </td>
	</form>
      </tr>
    </table>
  </div>
</div>
{% endif %}

<div class="center">
  {% if paid_service %}
  <br/>
  <p>
    {{ pay_button_message }}
  </p>
  <br/>
  {{ pay_button }}
  <br/>
  {% else %}
  <form action="/order/4/" method="post" enctype="multipart/form-data">{% csrf_token %}
    <input type="submit" name="submit-order" value="Submit Order" class="btn btn-large btn-warning" />
  </form>
  {% endif %}
</div>

<form action="/order/4/" method="post">{% csrf_token %}
  <input type="submit" name="back" value="< Back" class="btn btn-inverse" />
</form>
{% endblock %}
