{% extends "plain.html" %}
{% block pageContentNoFormat %}
<h3>Submit payment</h3>
<form action="/order/4/" method="post">{% csrf_token %}
<input type="submit" name="back" value="< Back" class="btn-small btn-inverse" />
</form>
<p class="right">
  Invoice # {{ invoice_id }}
</p>
<table class="table">
  <tr class="table-header">
    <td>Description</td>
    <td>Amount</td>
  </tr>
  {% for row in invoice.rows %}
  <tr>
    <td>{{ row.description }}</td>
    <td>{{ row.amount}}</td>
  </tr>
  {% endfor %}
  <tr>
    <td></td>
    <td><br/><br/></td>
  </tr>
  <tr>      
    <td class="right">
      Subtotal:
    </td>
    <td>
      {{ invoice.subtotal}}
    </td>
  </tr>
  <tr>
    <td class="right">
      Tax:
    </td>
    <td>
      {{ invoice.tax}}
    </td>
  </tr>
  <tr class="bold">
    <td class="right">
      Total due:
    </td>
    <td>
      ${{ invoice.amount_due}} USD
    </td>
  </tr>
</table>
<div class="center">
  <p>
  {{ pay_button_message }}
  </p>
  {{ pay_button }}
</div>
{% endblock %}
