{% extends "plain.html" %}
{% block pageContentNoFormat %}
<h3>Upload manuscript</h3>
<div class="row">
  <div class="span10 light-box">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>
      $(function(){
        var max_size = {{form.max_size}};
        var $upload_form = $('#upload_form');
        $('#id_file').change(function(){
          if($(this).val()){
            if($(this)[0].files[0].size > max_size){
              alert('The file is too big. Please limit filesize to 20 MB.')
              return false;
              }
            }
            else{
              return false;
              }
            })
          })
        </script>
    </head>
    <form id='upload_form' action="https://{{ BUCKET_NAME }}.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
      <table class="tbl-center">
	<tbody>
	  {{form.key}}
	  {{form.AWSAccessKeyId}}
	  {{form.acl}}
	  {{form.success_action_redirect}}
	  {{form.policy}}
	  {{form.signature}}
	  <tr>
	    <th>
	      {{form.file}}
	    </th>
	    <td>
	      <input type="submit" value="Upload" class="btn-large"/>
	    </td>
	  </tr>
	</tbody>
      </table>
    </form>
    <form action="/uploadmanuscript/" method="post">{% csrf_token %}
      {% if UPLOAD_SUCCESSFUL %}
      <table class="tbl-center">
	<tr>
	    <th></th>
	    <td>
	      Uploaded: {{ FILENAME }}
	      <br><br>
	    </td>
	</tr>
	<tr>
	    <th></th>
	    <td>
	      <input type="submit" value="Continue" class="btn-large btn-inverse"/>
	    </td>
	</tr>
      </table>
      {% endif %}
    </form>
  </div>
</div>

{% endblock %}
