<p>Thank you!</p>

<p>Your order to Science Writing Experts was received.</p>

<p>The payment details are below:</p>

<hr>
Invoice # {{ invoice }}<br>
{{ service_description }}<br>
Payment received: ${{ amount_paid }} USD<br>
<hr>

<p>We will notify you by email as soon as we have finished work on your manuscript.</p>

<p>Our mission is to provide top quality service to help bring your work to the scientific community world-wide.</p> 

<p>If you have any questions, we are happy to help. Please contact us by replying to this email.</p>

<p>Sincerely,</p>

{{ customer_service_name }}
<br> 
{{ customer_service_title }}
<br>
<a href="{{ root_url }}">{{ root_url }}</a>
